---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Page.astro";
import type { CollectionEntry } from "astro:content";
import { PublishDate } from "../../components/PublishDate";

interface Props {
  entry: CollectionEntry<"articles">;
}

export async function getStaticPaths() {
  const articles = await getCollection("articles");
  return articles.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { title, description, pubDate, descriptionAsFirstParagraph } = entry.data;
const { Content } = await entry.render();
---

<Layout title={title} description={description}>
  <header class="mb-8">
    <h1 class="m-0">{title}</h1>
    <PublishDate className="m-0" date={pubDate} />
  </header>
  {descriptionAsFirstParagraph && <p>{description}</p>}
  <Content />
</Layout>
