---
import "./base.css";
import { Image } from "astro:assets";
import avatarImage from "../assets/avatar.png";
import { GitHubLogoIcon } from "@radix-ui/react-icons";
import { Chatter } from "../components/Chatter";

interface Props {
  title: string;
  description: string;
  /**
   * Value to include in the `og:type` meta tag. Defaults to `website`.
   */
  ogType?: string;
  /**
   * Additional meta tags to include in the `<head>`
   */
  meta?: Record<string, string>;
  children: unknown;
}
const { title, description, ogType, meta = {} } = Astro.props;
const canonicalUrl = new URL(Astro.url.pathname, Astro.site);
---

<html lang="en" class="bg-white font-sans text-base text-black">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="dotboris.io"
      href={new URL("rss.xml", Astro.site)}
    />
    <link rel="canonical" href={canonicalUrl} />
    <title>{title} - dotboris.io</title>
    <meta name="description" content={description} />
    <meta property="og:type" content={ogType ?? "website"} />
    <meta property="og:url" content={canonicalUrl} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    {
      Object.entries(meta).map(([key, value]) => (
        <meta property={key} content={value} />
      ))
    }
  </head>
  <body class="flex min-h-screen flex-col">
    <header class="border-b-4 border-b-rose-300 bg-neutral-800">
      <div
        class="container mx-auto grid grid-cols-[auto_1fr_auto] items-center gap-4 p-4"
      >
        <Chatter client:idle>
          <Image
            class="rounded-full"
            width={50}
            height={50}
            densities={[1.5, 2]}
            src={avatarImage}
            alt="dotboris' avatar. A yellow anime duck with its mouth open"
          />
        </Chatter>
        <nav>
          <ul class="flex text-lg text-white">
            <li>
              <a
                class="block px-3 py-2 font-semibold hover:text-rose-300"
                href="/"
              >
                Home
              </a>
            </li>
            <li aria-hidden><div class="py-2 text-neutral-500">|</div></li>
            <li>
              <a
                class="block px-3 py-2 font-semibold hover:text-rose-300"
                href="/now/"
              >
                Now
              </a>
            </li>
          </ul>
        </nav>
        <a
          class="text-white hover:text-rose-300"
          href="https://github.com/dotboris"
          aria-label="dotboris on GitHub"
          title="dotboris on GitHub"
        >
          <GitHubLogoIcon className="size-8" />
        </a>
      </div>
    </header>
    <div class="container mx-auto">
      <main class="prose prose-a:text-blue-600 max-w-none px-4 py-8">
        <slot />
      </main>
    </div>
    <footer
      class="mt-auto border-t-4 border-t-rose-300 bg-neutral-800 p-4 text-center text-neutral-400"
    >
      &copy; {new Date().getFullYear()} Boris Bera
    </footer>
  </body>
</html>
